.funny-glasses {
    position: relative;
    top: -108px;
    left: 212px;
}

.bandana {
    position: absolute;
    top: 175px;
    left: 108px;
}

.pawprint {
    position: fixed;
    top: 45px;
    left: 65px;
}

.luna {
    position: sticky;
    left: 0px;
}

.top-hat {
    z-index: 1;
}